workflows/n8n/ingest-mailtobills.json
{
  "name": "MailtoBills Ingest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -608,
        152
      ],
      "id": "518ccfc1-0b9e-4275-9007-f6a52716fb2f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "folderMessage",
        "folderId": {
          "__rl": true,
          "value": "AAMkADk2MGM5ODU1LTFiMGItNGNhZi05Y2ZiLTc0NDNmOTY5NDNiMgAuAAAAAACVAUBQyB1HT5er95diI5-NAQAMziO-vyovQaa3kD2yoBJZAAByv3RPAAA=",
          "mode": "list",
          "cachedResultName": "Inbox",
          "cachedResultUrl": "https://outlook.office365.com/mail/AAMkADk2MGM5ODU1LTFiMGItNGNhZi05Y2ZiLTc0NDNmOTY5NDNiMgAuAAAAAACVAUBQyB1HT5er95diI5%2FNAQAMziO%2FvyovQaa3kD2yoBJZAAByv3RPAAA%3D"
        },
        "limit": 25,
        "filtersUI": {
          "values": {
            "filters": {
              "readStatus": "unread"
            }
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -384,
        152
      ],
      "id": "ed670184-5d8b-4c73-8c77-49b01391914e",
      "name": "Get many folder messages",
      "webhookId": "e9751d19-6e87-48a5-9f52-64cf26584ad8",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "yvv59Mv6UcPafs03",
          "name": "vitor.souza@boomich.pt"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "messageId": {
          "__rl": true,
          "value": "={{ $json.raw.id }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "AAMkADk2MGM5ODU1LTFiMGItNGNhZi05Y2ZiLTc0NDNmOTY5NDNiMgAuAAAAAACVAUBQyB1HT5er95diI5-NAQAMziO-vyovQaa3kD2yoBJZAAByv3ROAAA=",
          "mode": "list",
          "cachedResultName": "NeedsReview",
          "cachedResultUrl": "https://outlook.office365.com/mail/AAMkADk2MGM5ODU1LTFiMGItNGNhZi05Y2ZiLTc0NDNmOTY5NDNiMgAuAAAAAACVAUBQyB1HT5er95diI5%2FNAQAMziO%2FvyovQaa3kD2yoBJZAAByv3ROAAA%3D"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        688,
        -240
      ],
      "id": "f8d757d8-a973-42f3-8582-73ee4e26c7cf",
      "name": "Move to NeedsReview",
      "webhookId": "eff8a7ef-e651-491a-8249-adc062851d24",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "yvv59Mv6UcPafs03",
          "name": "vitor.souza@boomich.pt"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -160,
        152
      ],
      "id": "41f315fb-3986-4965-96f6-ead7a4cd8a7c",
      "name": "Loop Over Messages"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "output": "raw",
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        64,
        -16
      ],
      "id": "1d6de35c-2ded-4392-90d1-aa45d772dc45",
      "name": "Get a message by ID",
      "webhookId": "43afbe8f-21b9-417f-aec0-e708b61def53",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "yvv59Mv6UcPafs03",
          "name": "vitor.souza@boomich.pt"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Build one backend ingest payload per forwarded email.\n * n8n only filters acceptable PDFs and transports their metadata/content;\n * MailToBills backend owns Primary Attachment selection.\n */\n\nfunction cleanString(value) {\n  return (value ?? '').toString().trim();\n}\n\nfunction lower(value) {\n  return cleanString(value).toLowerCase();\n}\n\nfunction isAcceptablePdf(attachment) {\n  const mimeType = lower(attachment.mimeType);\n  const fileName = lower(attachment.fileName);\n\n  return (\n    mimeType === 'application/pdf' ||\n    fileName.endsWith('.pdf') ||\n    (mimeType === 'application/octet-stream' && fileName.includes('.pdf'))\n  );\n}\n\nfunction emailAddress(rawAddress) {\n  return rawAddress?.emailAddress?.address ?? rawAddress?.address ?? rawAddress ?? null;\n}\n\nconst item = $input.first();\nconst raw = item.json;\nconst binary = item.binary ?? {};\n\nconst attachmentsAll = Object.entries(binary).map(([key, value], index) => {\n  const fileName = value.fileName ?? value.file_name ?? key;\n  const mimeType = value.mimeType ?? value.mime_type ?? null;\n  const fileSize = Number(value.fileSize ?? value.fileSizeBytes ?? value.dataSize ?? 0) || 0;\n\n  return {\n    key,\n    originalFilename: fileName,\n    fileName,\n    mimeType,\n    fileSize,\n    attachmentId: value.id ?? key,\n    originalOrder: index,\n    isPdf: isAcceptablePdf({ fileName, mimeType }),\n    base64Data: value.data ?? null,\n  };\n});\n\nconst attachments = attachmentsAll\n  .filter((attachment) => attachment.isPdf)\n  .map(({ isPdf, ...attachment }) => attachment);\n\nif (!attachments.length) {\n  return [\n    {\n      json: {\n        hasPdfs: false,\n        messageId: raw.id,\n        raw,\n        attachmentsAll: attachmentsAll.map(({ base64Data, ...attachment }) => attachment),\n      },\n      binary,\n    },\n  ];\n}\n\nreturn [\n  {\n    json: {\n      hasPdfs: true,\n      messageId: raw.id,\n      forwarderFrom: emailAddress(raw.from),\n      subject: raw.subject,\n      receivedAt: raw.receivedDateTime ?? raw.createdDateTime ?? new Date().toISOString(),\n      bodyPreview: raw.bodyPreview,\n      raw,\n      attachments,\n      attachmentCount: attachments.length,\n    },\n    binary,\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -16
      ],
      "id": "80530906-d27b-44e0-a13c-18e13315fd94",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0bcddd8d-813b-4616-83ad-8d8be5b9c6bb",
              "leftValue": "={{ $json.hasPdfs }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        512,
        -16
      ],
      "id": "ea34a537-6f11-4001-b150-6e4e9a0af2f9",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zany-spoonbill-120.convex.site/ingest",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messageId",
              "value": "={{ $json.messageId }}"
            },
            {
              "name": "forwarderFrom",
              "value": "={{ $json.forwarderFrom }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "receivedAt",
              "value": "={{ $json.receivedAt }}"
            },
            {
              "name": "bodyPreview",
              "value": "={{ $json.bodyPreview }}"
            },
            {
              "name": "raw",
              "value": "={{ $json.raw }}"
            },
            {
              "name": "attachments",
              "value": "={{ $json.attachments }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        512,
        176
      ],
      "id": "c52d24cf-21e4-4bea-a13f-db36b5dca61e",
      "name": "HTTP Request1",
      "credentials": {
        "httpBearerAuth": {
          "id": "KnurFOAV5AgN2Nut",
          "name": "Ingest secret"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "messageId": {
          "__rl": true,
          "value": "={{ $json.data.parseJson().messageId }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "AAMkADk2MGM5ODU1LTFiMGItNGNhZi05Y2ZiLTc0NDNmOTY5NDNiMgAuAAAAAACVAUBQyB1HT5er95diI5-NAQAMziO-vyovQaa3kD2yoBJZAAByv3RNAAA=",
          "mode": "list",
          "cachedResultName": "Processed",
          "cachedResultUrl": "https://outlook.office365.com/mail/AAMkADk2MGM5ODU1LTFiMGItNGNhZi05Y2ZiLTc0NDNmOTY5NDNiMgAuAAAAAACVAUBQyB1HT5er95diI5%2FNAQAMziO%2FvyovQaa3kD2yoBJZAAByv3RNAAA%3D"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        176,
        368
      ],
      "id": "0e16c380-3bd4-4a69-b784-71f1f1606c23",
      "name": "Move a message1",
      "webhookId": "02e96b47-6a5e-429d-8d6d-4db4662e97d5",
      "executeOnce": true,
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "yvv59Mv6UcPafs03",
          "name": "vitor.souza@boomich.pt"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        512,
        368
      ],
      "id": "d71e6b71-eeed-46cd-845e-167704198134",
      "name": "Wait",
      "webhookId": "9eee0e0c-54ca-45b3-ae52-caf56ff517ff"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many folder messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many folder messages": {
      "main": [
        [
          {
            "node": "Loop Over Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Messages": {
      "main": [
        [],
        [
          {
            "node": "Get a message by ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message by ID": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move to NeedsReview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move a message1": {
      "main": [
        [
          {
            "node": "Loop Over Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Move a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to NeedsReview": {
      "main": [
        [
          {
            "node": "Loop Over Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a70864d2-e270-428c-bbf7-c8d6183fda78",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d61536ff6e7a882e61e320c605c981edc50f65159338e82544fd6a619b72ca0"
  },
  "id": "NrsYD8mQQtxCXy42",
  "tags": [
    {
      "updatedAt": "2025-12-09T23:01:40.106Z",
      "createdAt": "2025-12-09T23:01:40.106Z",
      "id": "xpvUeLA6bKu6Ir4D",
      "name": "mailtobills"
    }
  ]
}
